body {
    background: linear-gradient(45deg, #ff9a9e, #fad0c4);
    font-family: 'Kanit', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#app {
    background: white;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    width: 90%;
    max-width: 450px;
    text-align: center;
    position: relative;
}

h1 {
    font-family: 'Fugaz One', cursive;
    color: #FF4081;
    margin-bottom: 10px;
}

.styled-button {
    background-color: #FF6F61;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s;
    margin-top: 10px;
}

.styled-button:hover {
    background-color: #FF4081;
}

.styled-input, .styled-select {
    padding: 10px;
    width: 100%;
    border: 1px solid #FF6F61;
    border-radius: 8px;
    margin-bottom: 15px;
    font-size: 14px;
}

.manage-link {
    display: block;
    margin-top: 20px;
    text-decoration: none;
    color: #FF4081;
    font-size: 18px;
}
